<a href="https://colab.research.google.com/github/chaturaghu/python-full-stack-development/blob/main/pythonset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
numberSet={1,2,3,4,5}
print(numberSet)

{1, 2, 3, 4, 5}

In [3]:
emptySet={}
print(type(emptySet))

<class 'dict'>

In [4]:
emptySet=set()
print(type(emptySet))

<class 'set'>

In [5]:
my_set={1.0,"hello",(1,2,3)}
print(my_set)

{1.0, 'hello', (1, 2, 3)}

In [9]:
set_with_lists=set([1,2,3])
print(type(set_with_lists))
print(set_with_lists)

<class 'set'>
{1, 2, 3}

In [14]:
mine=set()
mine.update([9,12])
mine.update((3,5))
mine.update("hello")
print(mine)

{3, 5, 'e', 'l', 9, 12, 'h', 'o'}

In [16]:
my=set()
my.update([3,5,9,12])
my.update(("india","bharat"))
print(my)

{3, 5, 9, 12, 'india', 'bharat'}

In [17]:
my.discard(12)
print(my)

{3, 5, 9, 'india', 'bharat'}

In [18]:
my.discard(15)
print(my)

{3, 5, 9, 'india', 'bharat'}

In [19]:
hello=set("apple")
print('a' in hello)
print('p' not in hello)

True
False

In [20]:
A={1,2,3,4,5}
B={4,5,6,7,8}
print('Union =',A|B)
print('Intersection =',A&B)
print('Difference =',A-B)
print('Symmetric Diff =',A^B)

Union = {1, 2, 3, 4, 5, 6, 7, 8}
Intersection = {4, 5}
Difference = {1, 2, 3}
Symmetric Diff = {1, 2, 3, 6, 7, 8}

In [21]:
studentlist={'danush','jaison','sangeetha','uma','amrutha','lohita','prasad','ashwathi'}
placedlist=["uma","danish","amrutha"]
notplacedlist=set(studentlist)-set(placedlist)
print("Students yet to get job \n",notplacedlist)

Students yet to get job
 {'ashwathi', 'danush', 'lohita', 'jaison', 'prasad', 'sangeetha'}

In [22]:
batsmen=["virat","rohit","dhawan","dhoni","pandya","jadeja"]
bowlers=["bhuvenashwar","shami","pandya","jadeja","kuldeep"]
allrounders=set(batsmen)&set(bowlers)
print("Batsmen : ",batsmen)
print("Bowlers : ",bowlers)
print("All rounders : ",allrounders)

Batsmen :  ['virat', 'rohit', 'dhawan', 'dhoni', 'pandya', 'jadeja']
Bowlers :  ['bhuvenashwar', 'shami', 'pandya', 'jadeja', 'kuldeep']
All rounders :  {'jadeja', 'pandya'}

In [23]:
tcs=["uma","danish","amrutha"]
infosys=["lohita","danish","ashwathi"]
wipro=["sangeetha","jaison","prasad","amrutha"]
placed=set(tcs) | set(infosys) | set(wipro)
print(placed)
print("number of people placed = ",len(placed))

{'uma', 'ashwathi', 'lohita', 'amrutha', 'prasad', 'jaison', 'sangeetha', 'danish'}
number of people placed =  8

In [24]:
numbers={1,2,3,4,5,6,7,8,9,10}
odd={1,3,5,7,9}
even={2,4,6,8,10}
print(odd.isdisjoint(even))
print(numbers.issuperset(odd))
print(odd.issuperset(numbers))
print(odd.issubset(numbers))

True
True
False
True

In [25]:
data="cranes varsity bangalore"
unique=set(data)
print("numbers of uniqu characters ",len(unique))
print("list of unique charcters =",unique)
data=list(data)
for ele in unique:
  data.remove(ele)
print("repeated characters ",set(data))

numbers of uniqu characters  15
list of unique charcters = {'t', 'g', 'e', 'i', 'v', 'l', 'y', 'a', 'n', 's', ' ', 'o', 'c', 'b', 'r'}
repeated characters  {'e', 'a', 'n', 's', ' ', 'r'}